<!--
  Generated template for the ProofPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>大样浏览</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
   <ion-item>
      <ion-label>见报时间</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="pubdate" (ionChange)="changeDate()"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>叠次</ion-label>
      <ion-select [(ngModel)]="curfold" interface="popover">
        <ion-option *ngFor="let fold of folds" (ionSelect)="foldselect($event, fold)">{{fold.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

<ion-list>
  <ion-item *ngFor="let page of pages" >
    <ion-label tappable (click)="dispage(page)">
    <span>{{page.name}} </span> 
    <span>{{page.pagestatus}}</span> 
    <span>{{page.disposername}}</span> 
    <span><button ion-button end (click)='sign(page)'>{{page.action}}</button></span>
  </ion-label>
  </ion-item>

</ion-list>

</ion-content>